@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Inicia nav*/

.h-admi {
    background: black;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
}


.nav-admi{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    


}

.sublista {
    margin-top: 20px;
    border: solid 1px #f3c23f;
    border-radius: 15px;
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.sublista:hover {
    background-color: white;
}

 .link {

    text-decoration: none;
    color: #f3c23f; 
    font-size: 15px;

}

.link::first-letter {
    text-transform:uppercase;
}



/*Fin nav*/

/*Inicia upload*/

.panel-container {
    display: flex;
}

.panel {
    background-color: white;
    width: 80%;
    border: solid 1px #f3c23f;
    display: flex;   
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.panel-carga {
    border: solid 1px #f3c23f;
    height: fit-content;
    width: fit-content;

    
}

.panel-carga input {
  
    margin-top: 10px;
    
    
}

.panel-carga input[type="file"] {
    background-color: #f3c23f;
    padding: 10px;
    margin: 10px;
}

.vista-previa {
    border: solid 1px #f3c23f;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}

.panel-categoria {
    border: solid 1px #f3c23f;
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 20px;
}
/*Inicia Gestionprod*/

.panel-conf {
    height: fit-content;
    width: fit-content;
    border: solid 1px black ;
    padding: 10px;
}

.panel-conf button {
    margin: 0 10px;
    
}
/*termina Gestionprod*/


/*Inicia Gestionprod*/

/*inicia contacto*/

.contacto{
    display: flex;

}
.form{
    padding: 25px;
    margin: 30px;
}


.input{
    display: flex;
    height: 45px;
    width: 600px;
    background-color: white;
    border-style: solid 10px;
    border-radius: 30px;
    border-color: #F3C623; 
    font-family: 'Roboto Mono', monoespaciado; ;
    font-size: 30px;
    margin-top: 25px;
    padding: 2px;
    justify-content: center;

}

.inputmensaje{
    display: flex;
    background-color: white;
    border-radius: 50px; 
    border-style: solid 10px;
    height: 350px;
    width: 600px;
    border-color: #F3C623;
    margin-top: 25px;
    padding: 2px;
    font-family: 'Roboto Mono', monoespaciado;
    font-size: 30px;
    justify-content: center;
    align-items: center;
       
}
.buttoncontacto{
    background-color: #F3C623;
    height: 72px;
    width: 130px;
    border-radius: 30px;
    border-color: black;
    padding: 10px;
    margin-left: 40%;
    margin-top: 30px;
    font-family: 'Roboto Mono', monoespaciado;
    font-size: 30px;
    color: black;
    }
    .fotografo{
        display: flex;
        height: 680px;
        width: 1150px;
        margin-left: 10%;
        margin-top: 65px;
        padding: 10px;
      
    
       
    }
    /*fin contacto */
   